/* 横向きにしている */
.run_record {
    display: flex
}

/* run_distance の枠を広げたいとき */
input[type="number"] {
    width: 200px;
}

.datepicker {
    margin: 20px;
}

.error {
    display: none;
}

input:invalid+.error {
    display: block;
    color: red;
    font-size: 0.9em;
    text-align: center;
}